#Level4 {
    .consigne {

        p { 
            text-align: center;
            padding-top : 100px;
        }
        span {
            text-align: center;
            display: block;
            width: 100%;
            letter-spacing: 10;
        }
    }

    #frameWrapper {
        position: relative;
        height: 300px;
        width: 300px;
        background-color: white;


        .startContainer {

            position: absolute;
            top: 100px;
            left: 100px;
            width: 100px;
            height: 100px;


            .imageObject {
                position: absolute;
                background-image: url(../../app/assets/imageObject.svg);
                width: 100px;
                height: 100px;
                background-size: contain;

                .imgActive {
                    border: #008bff solid 2px;
                }
            }
        }
    }

}

#modalContent {

}

.btn { /*{DEV}*/
    background-color: #008BFF; 
    padding: 5px 10px;
}
