@import "utilities/variables";
#Level2 {
    #kiteII, #frameWrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: calc( ((100vw - 20px)/7)*2 );
        width: 100%;
    }



    #kiteII .pixel, #frameWrapper .pixel {
        box-sizing: border-box;
        height: calc((100vw - 20px)/ 7);;
        border: solid 1px black;
    }

    #frameWrapper .pixel {
        background-color: black;
        transition: background ease 0.5s;
        border: solid 1px white;
    }

    #kiteII .blue {
        background-color: blue;
    }

    #kiteII .red {
        background-color: red;
    }

    #kiteII .yellow {
        background-color: yellow;
    }

    #kiteII .green {
        background-color: green;
    }

    #kiteII .white {
        background-color: white;
    }

    #kiteII .black {
        background-color: black;
    }

    #kiteII .pixel.large, #frameWrapper .pixel.large {
        height: 100%;
    }

    #frameWrapper .pixelActive {
        border: #008bff solid 2px;
    }
}

#modalContent.level2 {
    .checkboxes {
        display: flex;
        max-width: 300px;
        max-height: 300px;
        height: calc(100vw/2);
        width: calc(100vw/2);

        input {
            opacity: 0;
            width: 100%;
            height: 100%;
        }
    }

    .checkBg {
        background-color: black;
        width: calc(100%/3);
        align-items: center;
        display: flex;
        justify-content: center;
        border: 2px solid white;
    }

    .buttons {
        display: flex;
        justify-content : center; 
    }
}


