#level4 {
    .framewrapper {
        position: relative;
        height: 300px;
        width: 300px;
        background-color: white;
        width: 100%;
        height: calc(100vw - 20px);
        max-width: 400px;
        max-height: 400px;
        margin: auto;


        .start-container {

            position: absolute;
            top: calc(100%/3);
            left: calc(100%/3);
            width: calc(100%/3);
            height: calc(100%/3);


            .image-object {
                position: absolute;
                background-image: url(../../dist/assets/imageObject.svg);
                width: 100%;
                height: 100%;
                background-size: contain;
                -webkit-transition: 1s ease transform;
                transition: 1s ease transform;

                .img-active {
                    border: #008bff solid 2px;
                }

                &.hovered {
                    -webkit-transform: scale(0.75);
                            transform: scale(0.75);
                    -webkit-transition-delay: 1s;
                            transition-delay: 1s;
                }
            }
        }
    }

}

#modal-content {
    .buttons {
        white-space: nowrap;
        font-size: 0.75em;
        margin-top: 1em;

        .functions-btn {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            text-align: center;


            div {
                -ms-flex-preferred-size: 100%;
                    flex-basis: 100%;
                margin: 0.35em 0;

                &.mid {
                    -ms-flex-preferred-size: calc(100%/3);
                        flex-basis: calc(100%/3);
                }


            }
        }

        button.btn {
            padding: 0.5em;
            margin: 0;
            
            &.runCode {
                width: 100%;
            }
        }
        
    }
    
    .cm-s-icecoder {
            height: 50%;
    }
}

