@import "mixin/mixins";
@import "utilities/variables";

#level3 {    
    .framewrapper {
        position: relative;
        width: 100%;
        height: calc(100vw - 20px);
        max-width: 400px;
        max-height: 400px;
        /*transition: 5s ease;*/
        background-color: black;
        margin: auto;

        .white-bg {
            background-color: white;
        }

        .square {
            background-color: black;

            &.incorrect {
                border: 4px solid red;
                +.white-bg {
                    border: 4px solid red;
                }
            }
        }

        .exterior {
            background-color: rgb( 90, 90, 135);
        } 
        .interior {
            background-color: rgb( 255, 240, 0);
        }

        div {
            position: absolute;
            box-sizing: border-box;
        }

        @for $i from 1 through 14 {

            //$size: (100 - ($i - 1)*(100/13)) * 1%;
            $size: percentage((27 - ($i - 1)*2) /27);
            $position: percentage(($i - 1)/27);

            div:nth-child(#{$i}) {
                height: $size;
                width: $size;
                top: $position;
                left: $position;
            }
        }
    }

    .framewrapper.done {
        .wrapper-grad {
            opacity: 1;
        }

        .square {
            opacity: 0;
        }
    }
}

#modal-content.level3 {


}

#modal-content {

    .pixel-model {
        width: 100%;
        height: 100px;
        position: relative;
        background-color: black;
        height: calc(100% - 175px);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 30px;
        box-sizing: border-box;

        .center {
            height: 100%;
            width: 100%;
            background-color: white;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
        }

        .buttons {

            .sliders {
                display: -ms-flexbox;
                display: -webkit-box;
                display: flex;
                max-width: 300px;
                max-height: 300px;
                height: calc(100vw/2);
                width: calc(100vw/2);


                .range-bg {
                    background-color: black;
                    width: calc(100%/3);
                    -ms-flex-align: center;
                    -webkit-box-align: center;
                    align-items: center;
                    display: -ms-flexbox;
                    display: -webkit-box;
                    display: flex;
                    -ms-flex-pack: center;
                    -webkit-box-pack: center;
                    justify-content: center;
                    border: 2px solid white;

                    input {
                        width: 100%;
                        height: 100%;
                        -moz-appearance : slider-vertical;
                        appearance : slider-vertical;
                        -webkit-appearance: slider-vertical;

                        &::-webkit-slider-thumb {
                          height: 3rem;
                          width: 3rem;
                          border: 1px solid rgba(0,0,0,0.36);
                          border-radius: 6px;
                              /* Is base64 the way to go ? */
                              /* I don't imagine simulating vertical stripes w/ gradients */ 
                              // background:url("http://db.tt/q5LHtPKx") center center no-repeat #e5e9e8;
                              // background-size: 7px 18px;
                              background: $black;
                              box-shadow: inset 0 1px white;
                          }

                          &::-moz-range-thumb {
                              height: 3rem;
                              width: 3rem;
                              border: 1px solid rgba(0,0,0,0.36);
                              border-radius: 6px; 
                              background:url("http://db.tt/q5LHtPKx") center center no-repeat #e5e9e8;
                              // background-size: 7px 18px;
                              background: $black;
                              box-shadow: inset 0 1px white;
                          }
                            /*
                              Active state
                            */
                            &:active::-webkit-slider-thumb {
                              border: 4px solid #0940fd;
                              box-shadow: 0 0 0 2px #6fb5f1;
                          }

                          input[type=range]:active::-moz-range-thumb {
                              border: 1px solid #0940fd;
                              box-shadow: 0 0 0 2px #6fb5f1;
                          }
                      }
                  }
              }

              .apply-color {
                min-width: 100%;
                background-color: $black;
            }


        }
    }
}
