#sandbox{

    #sandboxWrapper {
        position: relative;
        height: 70%;
        background-color: white;
        overflow: hidden;

        .pixel {
            background-color: red;

            box-sizing: border-box;
            height: 100px;
            width: 100px;
            border: solid 1px black;
            position: absolute;

            &.pixelActive {
                border: 4px solid #008BFF;
            }

        }
    }

    .editPixel {

        &.hidden {
            display: none;
        }
    }

}

#modalContent {

    .btn-position {

        &.hidden {
            display: none;
        }
    }

    .btn-color {

        &.hidden {
            display: none;
        }
    }
    
    .CodeMirror.CodeMirror-wrap.only-color {
        height: 175px;
    }
        

}


