#sandbox{

    #sandboxWrapper {
        position: relative;
        height: 300px;
        width: 300px;
        background-color: white;




        .pixel {
            background-color: red;

            box-sizing: border-box;
            height: 100px;
            width: 100px;
            border: solid 1px black;
            position: absolute;
        }

    }


}

#modalContent {
    .btn { /*{DEV}*/
        background-color: #008BFF; 
        padding: 5px 10px;
    }
}


