#sandbox{

    #sandboxWrapper {
        position: relative;
        height: 75%;
        background-color: white;




        .pixel {
            background-color: red;

            box-sizing: border-box;
            height: 100px;
            width: 100px;
            border: solid 1px black;
            position: absolute;
        }

    }


}

#modalContent {

}


