@import "utilities/reset";
@import "utilities/variables";
@import "mixin/mixins";
@import "utilities/sprite-main";
@import "utilities/font";
@import "utilities/font-icons";
@include sprites($spritesheet-sprites);

html, body {
    /*overflow-y: hidden;*/
    /*height: calc(100vh + 60px);*/
}

body {
    background: $black;
    font-family : $principal-font;
    font-size : $font-size;
    /*font-size: 5vw;*/
    color: $white;
    position: relative;
    p{
        line-height: 1.5em;
        font-size: 1.1em;  
    }

    @include tablet {


    }

    @include desktop {
        /*font-size: 2vw*/
    }

    .loading {
        z-index: 20000;
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: $black;

        img{
            position: absolute;
            right: calc( 50% - 28.5px);
            top: calc( 50% - 28.5px);
        }
    }
    .icon {
        display: inline-block;
    }
    .close {
        position: absolute;
        height: 50px;
        width: 50px;
        z-index: 1000;
        top: 5px;
        right: 10px;
    }
    .pixel, .btn, .close, .help-button, button, .fleche, .icon-return {
        cursor: pointer;
    }
    .btn {
        /*        background: linear-gradient(90deg, rgb(63, 169, 245), rgb(122, 201, 67));*/
        /*        border: 1px solid white;*/
        /*        color: white;*/
        /*        font-weight: 200;*/
        /*        border-radius: 1em;*/
        display:inline-block;
        text-align:center;
        padding:10px 15px;
        margin:5px;
        /*        font-size:1.125em;*/
        background-color:#efefef;
        border-radius:3px;
        box-shadow:0 1px 2px rgba(0,0,0,.3);
        cursor:pointer;

        border: 0px;
        color: #fff;
        background: transparent;;
        padding: 15px;
        max-width: 240px;
        margin: 0 auto;
        border-left: 2px solid $green;
        border-right: 2px solid $bleu;
        box-sizing: border-box;
        background-position: 0 0, 0 100% ;
        background-repeat: no-repeat;
        background-size: 100% 2px;
        background-image: -webkit-linear-gradient(left, $green 0%, $bleu 100%), -webkit-linear-gradient(left, $green 0%, $bleu 100%);
        background-image: linear-gradient(to right, $green 0%, $bleu 100%), linear-gradient(to right, $green 0%, $bleu 100%);


        &:hover {
            color:white;
            background:#009bd5;
        }
    }

    .help-button {
        margin: 20px;
        position: absolute;
        left: 0;
        top: 0;
        display: none;

        &.newTip {
            -webkit-animation: iconAnim 2s infinite;
            animation: iconAnim 2s infinite;
        }
    }
    .successGalery {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; 
        -ms-flex-wrap: wrap; 
        flex-wrap: wrap;

        .succes {
            width: 33vw;
            height: 33vw;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center; 

            p {
                display: none;
            }
            &.unlock {

                i.font-icon {
                    background: -webkit-linear-gradient(rgba(63, 169, 245, 1), rgba(122, 201, 67, 1));
                    background: linear-gradient(rgba(63, 169, 245, 1), rgba(122, 201, 67, 1));
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-style: normal;
                }
            }
            i.font-icon {
                color : rgba(119, 119, 119, 1);
                font-style: normal;
            }
        }
    }
    .popencyclo {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        z-index: 2000;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100%;
        width: 100%; 
        background: $black;
        position: fixed;
        top: 0;
        right: -100%;
        -webkit-transition: all 0.3s;
        transition : all 0.3s; 

        .encycloPop {
            margin: 10px;
        }

        &.open {
            right: 0;
            -webkit-transition: all 0.3s;
            transition : all 0.3s; 
        }
        .icon-close {
            position: absolute;
            right: 25px;
            left: 25px;
        }
        .js-close-popup-encyclo {
            display: none;
        }
        .succes {
            i {
                color: #8F8F8F;
                font-style: normal;
                font-size: 8em;
                text-align: center;
            }
            p {
                text-align: center;
            }
            &.unlock {
                i {
                    background: -webkit-linear-gradient(rgba(63, 169, 245, 1), rgba(122, 201, 67, 1));
                    background: linear-gradient(rgba(63, 169, 245, 1), rgba(122, 201, 67, 1));
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;

                }
            }
        }

    }

    input[type="text"], input[type="password"], textarea, select, button { 
        outline: none;
    }
    ::-webkit-scrollbar {
        width: 3px;
    }

    ::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 8px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: $gradiant-scrollbar;
    }
    .fleche {
        background: transparent;
        color: transparent;
        font-size : 0;
        border : none;
        background-image: url("../assets/fleche.svg");
        background-repeat: no-repeat;
        height: 70px;
        width: 70px;
        position: absolute;
        right: 16%;
        bottom: 0;

        &.demo {
            position: initial;
            margin: auto;
        }
        &.valid-into {
            position: relative;
            left: 60%;
        }
    }
    .button-reload {
        display: none;
        margin-top: 70px;
        font-size: 0.75em;
        border: 1px solid;
        padding: 10px;
    }
    .modal-active {
        overflow: hidden;
    }

    ::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 8px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background: $gradiant-scrollbar;
    }
    .fleche {
        background: transparent;
        color: transparent;
        font-size : 0;
        border : none;
        background-image: url("../assets/fleche.svg");
        background-repeat: no-repeat;
        height: 70px;
        width: 70px;
        position: absolute;
        right: 16%;
    }
    .button-reload {
        display: none;
        margin-top: 70px;
        font-size: 0.75em;
        border: 1px solid;
        padding: 10px;
    }
    &.modal-active {
        overflow: hidden;
    }

    #modal-container {
        position:fixed;
        /*display:table;*/
        height:100%;
        width:100%;
        top:0;
        left:0;
        -webkit-transform:scale(0);
        transform:scale(0);
        z-index:1;

        &.openCode {
            z-index:0;
            -webkit-transform:scale(1);
            transform:scale(1);
            .modal-background {
                background: $black;
                .modal {
                    -webkit-animation: moveUp 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
                    animation: moveUp 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
                }
            }
            + .content-global {
                z-index:1;
                -webkit-animation: slideUpLarge 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
                animation: slideUpLarge 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
            }
            &.out {
                -webkit-transform:scale(0);
                transform:scale(0);
                .modal-background {
                    .modal {
                        -webkit-animation: moveDown 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
                        animation: moveDown 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
                    }
                }
                + .content-global {
                    -webkit-animation: slideDownLarge 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
                    animation: slideDownLarge 1s cubic-bezier(0.165, 0.840, 0.440, 1.000) forwards;
                }
            }
        }

        .modal-background {
            /*display:table-cell;*/
            background: $black;
            /*text-align:center;*/
            vertical-align:middle;
            height: 100%;
            .modal {
                background: $black;
                padding:70px 10px 0 10px;
                height: 100%;
                width: 100%;
                display:inline-block;
                border-radius:3px;
                font-weight:300;
                position:relative;
                box-sizing: border-box;
            }
        }
    }

    .content-global {
        min-height:100%;
        height:100%;
        position:relative;
        z-index:0;

        .button {
            display:inline-block;
            text-align:center;
            padding:10px 15px;
            margin:10px;
            background:red;
            font-size:1.125em;
            background-color:#efefef;
            border-radius:3px;
            box-shadow:0 1px 2px rgba(0,0,0,.3);
            cursor:pointer;
            &:hover {
                color:white;
                background:#009bd5;
            }
        }

        .consigne {

            p { 
                text-align: center;
                margin-top: 0;
            }
            span {
                text-align: center;
                display: block;
                width: 100%;
                letter-spacing: 10;
            }
        }
    }


    .popup { 
        position: fixed;
        width: 90vw;
        height: 75vh;
        z-index: 3011;
        background-color: $black;
        top: 0;
        right: 0;
        margin-right: calc( 10vw / 2);
        margin-top: calc( 10vh / 2);
        -webkit-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        -webkit-transition-delay: 0.5s;
        transition-delay: 0.5s;
        border-radius: 30px;
        padding: 15px 0;

        &:after {
            content: "";
            background-image: url("../assets/popup_after.svg");
            background-size: contain;
            background-repeat: no-repeat;
            position: absolute;
            bottom: -75px;
            right: 0;
            display: block;
            height: 100.9px;
            width: 100.9px;
            z-index: -1;
        }

        &.hide {
            visibility: hidden;
            opacity: 0;
            right: -200vw;
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
            -webkit-transform-origin: right bottom;
            transform-origin: right bottom;
            -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
            transition: all 0.5s;

        }
        .overflow {
            overflow: auto;
            width: 100%;
            height: 80%;
            margin-top: 10%;
            .content-popup {
                padding: 10% 10% 3% 10%;
                background: transparent;
                border-radius: 30px;
                text-align: center;
            }

            .font-icon {
                background: -webkit-linear-gradient(rgba(63, 169, 245, 1), rgba(122, 201, 67, 1));
                background: linear-gradient(rgba(63, 169, 245, 1), rgba(122, 201, 67, 1));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                font-style: normal;
                font-size: 6em;
                -webkit-animation: iconAnim 2s infinite;
                animation: iconAnim 2s infinite;
                margin-top: 25px;
                
                &:before {
                    background: -webkit-linear-gradient(rgba(63, 169, 245, 1), rgba(122, 201, 67, 1));
                    background: linear-gradient(rgba(63, 169, 245, 1), rgba(122, 201, 67, 1));
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
            .fleche {
                position: relative;
                left: 70%;
            }
        }

        #chooseFrameLvl3 {
            display: flex;
            align-content: space-around;
            margin: 40px 25px;

            div.btn {
                height: 60px;
                width: 100px;
                display: inline-block;
                padding: 0;
                input {
                    opacity: 0;
                    width: 100%;
                    height: 100%;

                    &:checked {
                        background: #009bd5;
                    }
                }

                label {
                    position: relative;
                    top: 5px;
                }
            }
        }
    }

    .hoverlay {
        background: rgba( 24, 23, 22, 0.5);
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 3010;
        top: 0;
        left: 0;
        -webkit-transition: all 0.5s;
        transition: all 0.5s;

        &.hide {
            left: -100%;
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
        }
    }

    .background {

        @include desktop {
            /*font-size: 2vw*/
            background-image: url("../assets/background4K.jpg");
        }
        background-image: url("../assets/background.jpg");
        height: 100%;
        width: 100%;
        opacity: 0.5;
        position: fixed;
        top: 0;
        right: 0;
        z-index: -1;
        background-size: cover;
    }

    #menu{

    }

    main {
        min-width: 100%;
        min-height: 100%;


        &.flex {
            padding: 70px 10px;
            box-sizing : border-box;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align : center;
            -ms-flex-align : center;
            align-items : center;
        }


        .level-content {
            width: 100%;
            max-width: 100%;
            box-sizing: border-box;
        }



        #intro{

            .logo{
                max-width: 60%;
                margin: 0 auto;
                padding-top: 100px;

                img{
                    width: 100%;
                    height: auto;
                    max-width: 300px;
                    margin: 0 auto;
                    display: block;
                }
            }

            .content-form{
                margin: 0 auto;
                width: 60%;
                max-width: 300px;
                padding-top: 60px;

                .form-group{
                    margin: 20px 0;
                }

                .form-label {
                    font-family : $principal-font;
                    color: $bleu;
                    font-size: $font-size;
                    height: 26px;
                    margin: 0;
                    display: block;
                    text-shadow: 0.4px 0px 7px #242321;
                    opacity: 1;
                    -webkit-transition: .333s ease top, .333s ease opacity;
                    transition: .333s ease top, .333s ease opacity;
                }
                .form-control {
                    font-family : $principal-font;
                    font-size: 1.3rem;
                    height: 26px;
                    border-radius: 0;
                    -o-border-image: linear-gradient(90deg, rgb(63, 169, 245), rgb(122, 201, 67)) 10;
                    border-image: -webkit-linear-gradient(left, rgb(63, 169, 245), rgb(122, 201, 67)) 10;
                    border-image: linear-gradient(90deg, rgb(63, 169, 245), rgb(122, 201, 67)) 10;
                    border-width: 0 0 4px 0;
                    border-style: none none solid none;
                    box-shadow: none;
                    background: transparent;
                    color: #D9D9D9;
                    width: 100%;

                    &:focus {
                        box-shadow: none;
                        -o-border-image: linear-gradient(90deg, rgb(63, 169, 245), rgb(122, 201, 67)) 10;
                        border-image: -webkit-linear-gradient(left, rgb(63, 169, 245), rgb(122, 201, 67)) 10;
                        border-image: linear-gradient(90deg, rgb(63, 169, 245), rgb(122, 201, 67)) 10;
                    }
                }

                .js-hide-label {
                    opacity: 0;   
                }
                .js-unhighlight-label {
                    color: #FFF 
                }
            }   
        }

        #ChooseLevel{

            ul{
                width: 90%;
                height: 90%;
                margin: 0 auto;
                display: -ms-flexbox;
                display: -webkit-box;
                display: flex;
                -ms-flex-direction: column;
                -webkit-box-orient: vertical;
                -webkit-box-direction: normal;
                flex-direction: column;
                -ms-flex-pack: distribute;
                justify-content: space-around;

                li{
                    list-style: none;
                    margin: 30px 0;

                    a{
                        text-decoration: none;
                        color: $white;
                        font-size: $font-size;
                        position: absolute;

                        &::after{
                            content:"";
                            height: 4px;
                            width: 30px;
                            background: $gradiant;
                            display: block;
                            -webkit-transition: all 0.5s;
                            transition : all 0.5s;
                        }

                        &:hover{
                            &::after{
                                width: 100%;
                                -webkit-transition: all 0.5s;
                                transition : all 0.5s;
                            }
                        }
                    }
                }
            }
        }
    }
    /******************
    *
    *      Menu
    *
    ******************/
    .hamburger { 
        display: inline-block;
        cursor: pointer;
        transition-property: opacity, -webkit-filter;
        -webkit-transition-property: opacity, -webkit-filter;
        transition-property: opacity, filter;
        transition-property: opacity, filter, -webkit-filter;
        -webkit-transition-duration: 0.15s;
        transition-duration: 0.15s;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
        font: inherit;
        color: inherit;
        text-transform: none;
        background-color: transparent;
        border: 0;
        margin: 0;
        overflow: visible; 
        height: 80px;
        width: 80px;
        position: absolute;
        right: 0%;
        z-index: 3000;

        &:hover {
            opacity: 0.7; 
        }
    }


    .hamburger-box {
        width: 40px;
        height: 24px;
        display: inline-block;
        position: relative; 

        .hamburger-inner {
            display: block;
            top: 50%;
            margin-top: -2px; 
            width: 40px;
            height: 4px;
            background-color: $white;
            border-radius: 4px;
            position: absolute;
            -webkit-transition-property: -webkit-transform;
            transition-property: -webkit-transform;
            transition-property: transform;
            transition-property: transform, -webkit-transform;
            -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
            -webkit-transition-timing-function: ease;
            transition-timing-function: ease; 

            &::before, {
                content: "";
                display: block; 
                top: -10px;
                width: 40px;
                height: 4px;
                background-color: $white;
                border-radius: 4px;
                position: absolute;
                -webkit-transition-property: -webkit-transform;
                transition-property: -webkit-transform;
                transition-property: transform;
                transition-property: transform, -webkit-transform;
                -webkit-transition-duration: 0.15s;
                transition-duration: 0.15s;
                -webkit-transition-timing-function: ease;
                transition-timing-function: ease; 
            }
            &::after{
                content: "";
                display: block;
                bottom: -10px;
                width: 40px;
                height: 4px;
                background-color: $white;
                border-radius: 4px;
                position: absolute;
                -webkit-transition-property: -webkit-transform;
                transition-property: -webkit-transform;
                transition-property: transform;
                transition-property: transform, -webkit-transform;
                -webkit-transition-duration: 0.15s;
                transition-duration: 0.15s;
                -webkit-transition-timing-function: ease;
                transition-timing-function: ease; 
            }
        }
    }

    /*
    * Spin
    */

    .hamburger--spin.is-active .hamburger-inner, .hamburger--spin.is-active .hamburger-inner::before, .hamburger--spin.is-active .hamburger-inner::after {
        background-color: $white;
    }

    .hamburger--spin .hamburger-inner {
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
        transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); 
    }
    .hamburger--spin .hamburger-inner::before {
        -webkit-transition: top 0.1s 0.34s ease-in, opacity 0.1s ease-in;
        transition: top 0.1s 0.34s ease-in, opacity 0.1s ease-in; 
    }
    .hamburger--spin .hamburger-inner::after {
        -webkit-transition: bottom 0.1s 0.34s ease-in, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        transition: bottom 0.1s 0.34s ease-in, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19); 
    }

    .hamburger--spin.is-active .hamburger-inner {
        -webkit-transform: rotate(225deg);
        transform: rotate(225deg);
        -webkit-transition-delay: 0.14s;
        transition-delay: 0.14s;
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); 
    }

    .hamburger--spin.is-active .hamburger-inner::before {
        top: 0;
        opacity: 0;
        -webkit-transition: top 0.1s ease-out, opacity 0.1s 0.14s ease-out;
        transition: top 0.1s ease-out, opacity 0.1s 0.14s ease-out; 
    }

    .hamburger--spin.is-active .hamburger-inner::after {
        bottom: 0;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        -webkit-transition: bottom 0.1s ease-out, -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: bottom 0.1s ease-out, -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
        transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1); 
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0%;
        background: rgba( 24, 23, 22, 0);
        border-radius: 5px;
        -webkit-transition: background .35s ease, visibility .35s ease, width .35s ease;
        transition: background .35s ease, visibility .35s ease, width .35s ease;
        visibility: hidden;
        z-index: 100;

        &.open {
            background: rgba( 24, 23, 22, 0.9);
            visibility: visible;
            width: 100%;

            li {
                -webkit-animation: menuFade .5s ease forwards;
                animation: menuFade .5s ease forwards;
                -webkit-animation-delay: .35s;
                animation-delay: .35s;

                &:nth-of-type(2) {
                    -webkit-animation-delay: .4s;
                    animation-delay: .4s;
                }
                &:nth-of-type(3) {
                    -webkit-animation-delay: .45s;
                    animation-delay: .45s;
                }
                &:nth-of-type(4) {
                    -webkit-animation-delay: .5s;
                    animation-delay: .5s;
                }
            }
        }
        nav {
            position: relative;
            height: 80%;
            top: 50%;
            -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
            font-size: 2em;
            font-family: $principal-font;
            font-weight: 400;
            text-align: center;

            ul {
                list-style: none;
                padding: 0;
                margin: 0 auto;
                display: inline-block;
                position: relative;
                height: 100%; 
                -webkit-transition: all 1s; 
                transition: all 1s;
                left: 0vw;

                &.childOpen {
                    -webkit-transition: all 1s;
                    transition: all 1s;
                    left: -100vw;
                }

                li {
                    display: block;
                    height: 25%;
                    height: calc(100% / 4);
                    min-height: 34px;
                    position: relative;
                    opacity: 0;

                    a {
                        display: block;
                        position: relative;
                        color: $white;
                        text-decoration: none;
                        overflow: hidden;

                        &:hover:after,
                        &:focus:after,
                        &:active:after {
                            width: 100%;
                        }

                        &:after {
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 50%;
                            width: 0%;
                            -webkit-transform: translateX(-50%);
                            transform: translateX(-50%);
                            height: 3px;
                            background: $gradiant;
                            -webkit-transition: .35s;
                            transition: .35s;
                        }
                    }
                }
            }
            .child {
                list-style: none;
                padding: 0;
                margin: 0 auto;
                position: absolute;
                height: 0; 
                -webkit-transition: left 1s; 
                transition: left 1s;
                left: 100vw;
                display: inline-block;
                overflow: auto;

                i.icon-return {
                    margin-left: 10px;
                    position: fixed;
                    top: -100px;
                }

                &>* {
                    display: none;
                }

                &.isOpen {
                    -webkit-transition: left 1s;
                    transition: left 1s;
                    left: 0px;
                    width: 100vw;
                    height: 100%; 
                    display: inline-block;

                    &>* {
                        display: block;
                    }
                }

                .child-content {

                    #ChooseLevel {
                        a{
                            font-size: 0.75em;

                            &.lock {
                                color: grey;
                            }
                        }
                    }
                }
            }
        }
    }
    .iconAnim {
        -webkit-animation: iconAnim 3s infinite;
        animation: iconAnim 3s infinite;
    }
}

/******************
*
*      Annimations
*
******************/
@-webkit-keyframes menuFade {
    0% {
        opacity: 0;
        left: -25%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}
@keyframes menuFade {
    0% {
        opacity: 0;
        left: -25%;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

@-webkit-keyframes iconAnim {
    0% {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
    }
    50%{
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
    }
}

@keyframes iconAnim {
    0% {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
    }
    50%{
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    100% {
        -webkit-transform: scale(0.7);
        transform: scale(0.7);
    }
}

@-webkit-keyframes popup-codmirror {
    0% {
        width : 70vw;
        right: calc(50% - 35vw);
    }
    50%{
        width : 70vw;
        right: calc(50% - 35vw);
    }
    100% {
        width : 100vw;
        right: calc(50% - 50vw);
    }
}

@keyframes popup-codmirror {
    0% {
        width : 70vw;
        right: calc(50% - 35vw);
    }
    50%{
        width : 70vw;
        right: calc(50% - 35vw);
    }
    100% {
        width : 100vw;
        right: calc(50% - 50vw);
    }
}

@-webkit-keyframes slideUpLarge {
    0% {
        -webkit-transform:translateY(0%);
        transform:translateY(0%);
    }
    100% {
        -webkit-transform:translateY(-100%);
        transform:translateY(-100%);
    }
}

@keyframes slideUpLarge {
    0% {
        -webkit-transform:translateY(0%);
        transform:translateY(0%);
    }
    100% {
        -webkit-transform:translateY(-100%);
        transform:translateY(-100%);
    }
}

@-webkit-keyframes slideDownLarge {
    0% {
        -webkit-transform:translateY(-100%);
        transform:translateY(-100%);
    }
    100% {
        -webkit-transform:translateY(0%);
        transform:translateY(0%);
    }
}

@keyframes slideDownLarge {
    0% {
        -webkit-transform:translateY(-100%);
        transform:translateY(-100%);
    }
    100% {
        -webkit-transform:translateY(0%);
        transform:translateY(0%);
    }
}

@-webkit-keyframes moveUp {
    0% {
        -webkit-transform:translateY(150px);
        transform:translateY(150px);
    }
    100% {
        -webkit-transform:translateY(0);
        transform:translateY(0);
    }
}

@keyframes moveUp {
    0% {
        -webkit-transform:translateY(150px);
        transform:translateY(150px);
    }
    100% {
        -webkit-transform:translateY(0);
        transform:translateY(0);
    }
}

@-webkit-keyframes moveDown {
    0% {
        -webkit-transform:translateY(0px);
        transform:translateY(0px);
    }
    100% {
        -webkit-transform:translateY(150px);
        transform:translateY(150px);
    }
}

@keyframes moveDown {
    0% {
        -webkit-transform:translateY(0px);
        transform:translateY(0px);
    }
    100% {
        -webkit-transform:translateY(150px);
        transform:translateY(150px);
    }
}

