@import "utilities/variables";
.table {
	display: block;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 100%
}

.table>.cell {
	display: block;
	float: none;
	position: relative;
	text-align: center;
	padding: 20px;
	max-height: 70%;
	overflow: auto;
	width: 100%;
}

.table-block {
	margin: auto;
	min-height: inherit;
	width: 100%;
}

.slider {
	height: 100%;
	left: 0;
	min-height: inherit;
	overflow: hidden;
	position: absolute;
	top: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	    user-select: none;
	width: 100%;
}
#intro .slider {
	background: rgba(32, 33, 34, 0.8);
}
.slide {
	height: 100%;
	left: 0;
	padding: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
	width: 100%;
	-webkit-transition: -webkit-transform .3s;
	transition: -webkit-transform .3s,transform .3s
}

.slide.current {
	opacity: 1;
	top: 0
}
.slide:not(.current) {
	opacity: 0;
}
.js-close-popup-encyclo {
	color: #fff;
	background: transparent;;
	padding: 15px;
	max-width: 240px;
    margin: 0 auto;
	border-left: 2px solid $green;
	border-right: 2px solid $bleu;
	box-sizing: border-box;
	background-position: 0 0, 0 100% ;
	background-repeat: no-repeat;
	background-size: 100% 2px;
	background-image: -webkit-linear-gradient(left, $green 0%, $bleu 100%), -webkit-linear-gradient(left, $green 0%, $bleu 100%);
	background-image: linear-gradient(to right, $green 0%, $bleu 100%), linear-gradient(to right, $green 0%, $bleu 100%);
}
.dots {
	bottom: 30px;
	line-height: 0;
	margin-top: 40px;
	padding-left: 50%;
	padding-top: 27px;
	position: absolute;
	width: 0
}

.dots button {
	border: 0;
	cursor: pointer;
	background-color: transparent;

	margin-left: -7px;
	margin-top: -27px;
	position: relative;
	vertical-align: top;
	z-index: 2;
}

.no-touch .dots button:hover {
	-o-box-shadow: inset 0 0 0 3px #000,inset 0 0 0 2px transparent;
	box-shadow: inset 0 0 0 3px #000,inset 0 0 0 2px transparent;
	-webkit-transition-duration: .2s;
	transition-duration: .2s
}

.dots ul {
	line-height: 0;
	margin-left: -27px;
	position: absolute;
	top: 0;
	padding: 0;
	-webkit-transition: margin-left .3s;
	transition: margin-left .3s;
	white-space: nowrap;
	z-index: 1
}

.dots ul li {
	background-color: #fff;
	border-radius: 50%;
	cursor: pointer;
	display: inline-block;
	height: 8px;
	list-style: none;
	margin-top: 23px;
	margin-right: 28px;
	opacity: .4;
	-webkit-transition: all .4s cubic-bezier(.15,.2,0,1);
	transition: all .4s cubic-bezier(.15,.2,0,1);
	vertical-align: top;
	width: 8px
}

.dots ul li.active {
	background-color: transparent!important;
	height: 54px;
	margin-top: 0;
	width: 54px
}

.slider.swipe-mode {
	cursor: default
}

.slider.swipe-mode .slide.current {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0)
}

.slider.swipe-mode .slide.previous {
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0)
}

.slider.swipe-mode .slide.next {
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0)
}

.slider.swipe-mode .slide.animating {
	-webkit-transition: -webkit-transform .4s cubic-bezier(.15,.2,0,1);
	transition: -webkit-transform .4s cubic-bezier(.15,.2,0,1),transform .4s cubic-bezier(.15,.2,0,1)
}

.slider.swipe-mode .slide.animating.next,.slider.swipe-mode .slide.animating.previous {
	-webkit-transition-duration: .4s;
	transition-duration: .4s
}