@import "utilities/variables";

body {
	background: $black;
	font-family : $principal-font;
	font-size : $font-size;
	color: $white;
	
	.loading {
		z-index: 20000;
		position: fixed;
		height: 100%;
		width: 100%;
		background-color: $black;
		
		img{
			position: absolute;
			right: calc( 50% - 28.5px);
			top: calc( 50% - 28.5px);
		}
	}

	input[type="text"], input[type="password"], textarea, select, button { 
		outline: none;
	}
	
	.fleche {
		background: transparent;
		color: transparent;
		font-size : 0;
		border : none;
		background-image: url("../assets/fleche.svg");
		background-repeat: no-repeat;
		height: 70px;
		width: 70px;
		position: absolute;
		right: 16%;
	}

	.popup {
		position: fixed;
		width: 90vw;
		height: 90vh;
		
		background-image: url("../assets/popup.svg");
		background-size: contain;
		background-repeat: no-repeat;
		top: 0;
		right: 0;
		margin-right: calc( 10vw / 2);
		margin-top: calc( 10vh / 2);

		&.hide {
			visibility: 0;
			opacity: 0;
			right: -100vw;
		}
		.content-popup {
			padding: 10%;
		}
	}
	.background {
		background-image: url("../assets/background.jpg");
		height: 100%;
		width: 100%;
		opacity: 0.5;
		position: fixed;
		top: 0;
		right: 0;
		z-index: -1;
		background-size: cover;
	}
	main {
		min-width: 100%;
		min-height: 100%;
		
		#menu{
			.button-burger{
				display: block;
				position: relative;
				z-index: 21;
			}
		}

		#intro{

			.logo{
				max-width: 60%;
				margin: 0 auto;
				padding-top: 100px;

				img{
					width: 100%;
					height: auto;
					max-width: 300px;
					margin: 0 auto;
					display: block;
				}
			}

			.content-form{
				margin: 0 auto;
				width: 60%;
				max-width: 300px;
				padding-top: 60px;

				.form-group{
					margin: 20px 0;
				}

				.form-label {
					font-family : $principal-font;
					color: $bleu;
					font-size: $font-size;
					height: 26px;
					margin: 0;
					display: block;
					text-shadow: 0.4px 0px 7px #242321;
					opacity: 1;
					-webkit-transition: .333s ease top, .333s ease opacity;
					transition: .333s ease top, .333s ease opacity;
				}
				.form-control {
					font-family : $principal-font;
					font-size: 1.3rem;
					height: 26px;
					border-radius: 0;
					border-image: linear-gradient(90deg, rgb(63, 169, 245), rgb(122, 201, 67)) 10;
					border-width: 0 0 4px 0;
					border-style: none none solid none;
					box-shadow: none;
					background: transparent;
					color: #D9D9D9;
					width: 100%;

					&:focus {
						box-shadow: none;
						border-image: linear-gradient(90deg, rgb(63, 169, 245), rgb(122, 201, 67)) 10;
					}
				}

				.js-hide-label {
					opacity: 0;   
				}
				.js-unhighlight-label {
					color: #FFF 
				}
			}	
		}

		#ChooseLevel{

			ul{
				width: 90%;
				height: 90%;
				margin: 0 auto;
				display: flex;
				flex-direction: column;
				justify-content: space-around;

				li{
					list-style: none;
					margin: 30px 0;

					a{
						text-decoration: none;
						color: $white;
						font-size: $font-size;
						position: absolute;

						&::after{
							content:"";
							height: 4px;
							width: 30px;
							background: $gradiant;
							display: block;
							transition : all 0.5s;
						}

						&:hover{
							&::after{
								width: 100%;
								transition : all 0.5s;
							}
						}
					}
				}
			}
		}
	}
	/******************
	*
	*	   Menu
	*
	******************/
	.hamburger { 
		display: inline-block;
		cursor: pointer;
		transition-property: opacity, -webkit-filter;
		transition-property: opacity, filter;
		transition-property: opacity, filter, -webkit-filter;
		transition-duration: 0.15s;
		transition-timing-function: linear;
		font: inherit;
		color: inherit;
		text-transform: none;
		background-color: transparent;
		border: 0;
		margin: 0;
		overflow: visible; 
		height: 80px;
		width: 80px;
		position: absolute;
		right: 0%;
		z-index: 3000;

		&:hover {
			opacity: 0.7; 
		}
	}
	  

	.hamburger-box {
		width: 40px;
		height: 24px;
		display: inline-block;
		position: relative; 

		.hamburger-inner {
			display: block;
			top: 50%;
			margin-top: -2px; 
			width: 40px;
			height: 4px;
			background-color: $white;
			border-radius: 4px;
			position: absolute;
			transition-property: -webkit-transform;
			transition-property: transform;
			transition-property: transform, -webkit-transform;
			transition-duration: 0.15s;
			transition-timing-function: ease; 

			&::before, {
				content: "";
				display: block; 
				top: -10px;
				width: 40px;
				height: 4px;
				background-color: $white;
				border-radius: 4px;
				position: absolute;
				transition-property: -webkit-transform;
				transition-property: transform;
				transition-property: transform, -webkit-transform;
				transition-duration: 0.15s;
				transition-timing-function: ease; 
			}
			&::after{
				content: "";
				display: block;
				bottom: -10px;
				width: 40px;
				height: 4px;
				background-color: $white;
				border-radius: 4px;
				position: absolute;
				transition-property: -webkit-transform;
				transition-property: transform;
				transition-property: transform, -webkit-transform;
				transition-duration: 0.15s;
				transition-timing-function: ease; 
			}
		}
	}

	/*
	* Spin
	*/

	.hamburger--spin.is-active .hamburger-inner, .hamburger--spin.is-active .hamburger-inner::before, .hamburger--spin.is-active .hamburger-inner::after {
		background-color: $white;
	}

	.hamburger--spin .hamburger-inner {
		transition-duration: 0.3s;
		transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); 
	}
	.hamburger--spin .hamburger-inner::before {
		transition: top 0.1s 0.34s ease-in, opacity 0.1s ease-in; 
	}
	.hamburger--spin .hamburger-inner::after {
		transition: bottom 0.1s 0.34s ease-in, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
		transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
		transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19); 
	}

	.hamburger--spin.is-active .hamburger-inner {
		-webkit-transform: rotate(225deg);
		transform: rotate(225deg);
		transition-delay: 0.14s;
		transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); 
	}

	.hamburger--spin.is-active .hamburger-inner::before {
		top: 0;
		opacity: 0;
		transition: top 0.1s ease-out, opacity 0.1s 0.14s ease-out; 
	}

	.hamburger--spin.is-active .hamburger-inner::after {
		bottom: 0;
		-webkit-transform: rotate(-90deg);
		transform: rotate(-90deg);
		transition: bottom 0.1s ease-out, -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
		transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
		transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1); 
	}

	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 0%;
		opacity: 0;
		background: $black;
		border-radius: 5px;
		transition: opacity .35s ease, visibility .35s ease, width .35s ease;
		visibility: hidden;
		z-index: 100;

		&.open {
			opacity: .8;
			visibility: visible;
			width: 100%;

			li {
				animation: menuFade .5s ease forwards;
				animation-delay: .35s;

				&:nth-of-type(2) {
					animation-delay: .4s;
				}
				&:nth-of-type(3) {
					animation-delay: .45s;
				}
				&:nth-of-type(4) {
					animation-delay: .5s;
				}
			}
		}
		nav {
			position: relative;
			height: 80%;
			top: 50%;
			transform: translateY(-40%);
			font-size: 34px;
			font-family: $principal-font;
			font-weight: 400;
			text-align: center;
		}
		ul {
			list-style: none;
			padding: 0;
			margin: 0 auto;
			display: inline-block;
			position: relative;
			height: 100%; 

			li {
				display: block;
				height: 25%;
				height: calc(100% / 3);
				min-height: 34px;
				position: relative;
				opacity: 0;

				a {
					display: block;
					position: relative;
					color: $white;
					text-decoration: none;
					overflow: hidden;

					&:hover:after,
					&:focus:after,
					&:active:after {
						width: 100%;
					}

					&:after {
						content: '';
						position: absolute;
						bottom: 0;
						left: 50%;
						width: 0%;
						transform: translateX(-50%);
						height: 3px;
						background: $gradiant;
						transition: .35s;
					}
				}
			}
		}
	}

}

/******************
*
*	   Annimations
*
******************/
@keyframes menuFade {
	0% {
		opacity: 0;
		left: -25%;
	}
	100% {
		opacity: 1;
		left: 0;
	}
}