<div id="Level2">
    <div class="consigne">

        <div id="kiteII">
            <div class="pixel blue"></div>
            <div class="pixel black"></div>
            <div class="pixel white large"></div>
            <div class="pixel yellow"></div>
            <div class="pixel black"></div>
            <div class="pixel white large"></div>
            <div class="pixel red"></div>
            <div class="pixel black"></div>
            <div class="pixel white large"></div>
            <div class="pixel green"></div>
            <div class="pixel black"></div>
        </div>

    </div>



    <textarea class="codeMirror"></textarea>



    <div class="buttons">

        <button class="runCode dev">RUN CODE</button>

        <div class="checkboxes notdev">
            <div class="checkBg">
                <input type="checkbox" class="red"/></div>
            <div class="checkBg">
                <input type="checkbox" class="green"/></div>
            <div class="checkBg">
                <input type="checkbox" class="blue"/></div>
        </div>
    </div>

    <div id="frameWrapper">
        <div class="pixel"></div>
        <div class="pixel"></div>
        <div class="pixel large"></div>
        <div class="pixel"></div>
        <div class="pixel"></div>
        <div class="pixel large"></div>
        <div class="pixel"></div>
        <div class="pixel"></div>
        <div class="pixel large"></div>
        <div class="pixel"></div>
        <div class="pixel"></div>
    </div>

    <div class="fleche btn-start-order" onclick="submitLvl2()">Valider la réponse</div>
</div>