/*******************

		Variables

*******************/
/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
.icon-error {
  background-image: url(../../assets/sprite-main.png);
  background-position: 0px -103px;
  width: 63px;
  height: 101px;
}

.icon-succes {
  background-image: url(../../assets/sprite-main.png);
  background-position: 0px 0px;
  width: 86px;
  height: 98px;
}

body {
  background: #242322;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.3rem;
  color: #FBFBFB;
  /******************
	*
	*	   Menu
	*
	******************/
  /*
	* Spin
	*/
}

body .loading {
  z-index: 20000;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #242322;
}

body .loading img {
  position: absolute;
  right: calc( 50% - 28.5px);
  top: calc( 50% - 28.5px);
}

body .icon {
  display: inline-block;
}

body input[type="text"], body input[type="password"], body textarea, body select, body button {
  outline: none;
}

body .fleche {
  background: transparent;
  color: transparent;
  font-size: 0;
  border: none;
  background-image: url("../assets/fleche.svg");
  background-repeat: no-repeat;
  height: 70px;
  width: 70px;
  position: absolute;
  right: 16%;
}

body .popup {
  position: fixed;
  width: 90vw;
  height: 90vh;
  z-index: 3011;
  background-image: url("../assets/popup.svg");
  background-size: contain;
  background-repeat: no-repeat;
  top: 0;
  right: 0;
  margin-right: calc( 10vw / 2);
  margin-top: calc( 10vh / 2);
  transform-origin: right bottom;
  transform: rotate(0deg);
  transition: all 0.5s;
  transition-delay: 0.5s;
}

body .popup.hide {
  visibility: 0;
  opacity: 0;
  right: -200vw;
  transition: all 0.5s;
  transform-origin: right bottom;
  transform: rotate(-90deg);
  transition: all 0.5s;
}

body .popup .content-popup {
  padding: 10%;
}

body .popup .popup-icon {
  text-align: center;
}

body .hoverlay {
  background: rgba(24, 23, 22, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 3010;
  top: 0;
  left: 0;
  transition: all 0.5s;
}

body .hoverlay.hide {
  left: -100%;
  transition: all 0.5s;
}

body .background {
  background-image: url("../assets/background.jpg");
  height: 100%;
  width: 100%;
  opacity: 0.5;
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;
  background-size: cover;
}

body main {
  min-width: 100%;
  min-height: 100%;
}

body main #menu .button-burger {
  display: block;
  position: relative;
  z-index: 21;
}

body main #intro .logo {
  max-width: 60%;
  margin: 0 auto;
  padding-top: 100px;
}

body main #intro .logo img {
  width: 100%;
  height: auto;
  max-width: 300px;
  margin: 0 auto;
  display: block;
}

body main #intro .content-form {
  margin: 0 auto;
  width: 60%;
  max-width: 300px;
  padding-top: 60px;
}

body main #intro .content-form .form-group {
  margin: 20px 0;
}

body main #intro .content-form .form-label {
  font-family: "Josefin Sans", sans-serif;
  color: #3fa9f5;
  font-size: 1.3rem;
  height: 26px;
  margin: 0;
  display: block;
  text-shadow: 0.4px 0px 7px #242321;
  opacity: 1;
  -webkit-transition: .333s ease top, .333s ease opacity;
  transition: .333s ease top, .333s ease opacity;
}

body main #intro .content-form .form-control {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.3rem;
  height: 26px;
  border-radius: 0;
  border-image: linear-gradient(90deg, #3fa9f5, #7ac943) 10;
  border-width: 0 0 4px 0;
  border-style: none none solid none;
  box-shadow: none;
  background: transparent;
  color: #D9D9D9;
  width: 100%;
}

body main #intro .content-form .form-control:focus {
  box-shadow: none;
  border-image: linear-gradient(90deg, #3fa9f5, #7ac943) 10;
}

body main #intro .content-form .js-hide-label {
  opacity: 0;
}

body main #intro .content-form .js-unhighlight-label {
  color: #FFF;
}

body main #ChooseLevel ul {
  width: 90%;
  height: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

body main #ChooseLevel ul li {
  list-style: none;
  margin: 30px 0;
}

body main #ChooseLevel ul li a {
  text-decoration: none;
  color: #FBFBFB;
  font-size: 1.3rem;
  position: absolute;
}

body main #ChooseLevel ul li a::after {
  content: "";
  height: 4px;
  width: 30px;
  background: linear-gradient(90deg, #3fa9f5, #7ac943);
  display: block;
  transition: all 0.5s;
}

body main #ChooseLevel ul li a:hover::after {
  width: 100%;
  transition: all 0.5s;
}

body .hamburger {
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  height: 80px;
  width: 80px;
  position: absolute;
  right: 0%;
  z-index: 3000;
}

body .hamburger:hover {
  opacity: 0.7;
}

body .hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

body .hamburger-box .hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
  width: 40px;
  height: 4px;
  background-color: #FBFBFB;
  border-radius: 4px;
  position: absolute;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

body .hamburger-box .hamburger-inner::before {
  content: "";
  display: block;
  top: -10px;
  width: 40px;
  height: 4px;
  background-color: #FBFBFB;
  border-radius: 4px;
  position: absolute;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

body .hamburger-box .hamburger-inner::after {
  content: "";
  display: block;
  bottom: -10px;
  width: 40px;
  height: 4px;
  background-color: #FBFBFB;
  border-radius: 4px;
  position: absolute;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}

body .hamburger--spin.is-active .hamburger-inner, body .hamburger--spin.is-active .hamburger-inner::before, body .hamburger--spin.is-active .hamburger-inner::after {
  background-color: #FBFBFB;
}

body .hamburger--spin .hamburger-inner {
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

body .hamburger--spin .hamburger-inner::before {
  transition: top 0.1s 0.34s ease-in, opacity 0.1s ease-in;
}

body .hamburger--spin .hamburger-inner::after {
  transition: bottom 0.1s 0.34s ease-in, -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.1s 0.34s ease-in, transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

body .hamburger--spin.is-active .hamburger-inner {
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
  transition-delay: 0.14s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

body .hamburger--spin.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  transition: top 0.1s ease-out, opacity 0.1s 0.14s ease-out;
}

body .hamburger--spin.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  transition: bottom 0.1s ease-out, -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.1s ease-out, transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.3s 0.14s cubic-bezier(0.215, 0.61, 0.355, 1);
}

body .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  opacity: 0;
  background: #242322;
  border-radius: 5px;
  transition: opacity .35s ease, visibility .35s ease, width .35s ease;
  visibility: hidden;
  z-index: 100;
}

body .overlay.open {
  opacity: .8;
  visibility: visible;
  width: 100%;
}

body .overlay.open li {
  animation: menuFade .5s ease forwards;
  animation-delay: .35s;
}

body .overlay.open li:nth-of-type(2) {
  animation-delay: .4s;
}

body .overlay.open li:nth-of-type(3) {
  animation-delay: .45s;
}

body .overlay.open li:nth-of-type(4) {
  animation-delay: .5s;
}

body .overlay nav {
  position: relative;
  height: 80%;
  top: 50%;
  transform: translateY(-40%);
  font-size: 34px;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  text-align: center;
}

body .overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}

body .overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 3);
  min-height: 34px;
  position: relative;
  opacity: 0;
}

body .overlay ul li a {
  display: block;
  position: relative;
  color: #FBFBFB;
  text-decoration: none;
  overflow: hidden;
}

body .overlay ul li a:hover:after, body .overlay ul li a:focus:after, body .overlay ul li a:active:after {
  width: 100%;
}

body .overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: linear-gradient(90deg, #3fa9f5, #7ac943);
  transition: .35s;
}

/******************
*
*	   Annimations
*
******************/
@keyframes menuFade {
  0% {
    opacity: 0;
    left: -25%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes popup {
  0% {
    transform: scale(0.5);
  }
  33% {
    transform: scale(1);
  }
  66% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}
