/*******************

		Variables

*******************/
$black : #242322;
$white : #FBFBFB;
$green : #7ac943;
$bleu : #3fa9f5;
$principal-font : 'Josefin Sans', sans-serif;
$font-size : 1.3rem;
$gradiant : linear-gradient(90deg, rgb(63, 169, 245), rgb(122, 201, 67));