<div id="Level2">
	<div class="consigne">
		<p>Reproduisez tableau de Morellet</p>
	</div>
	<div class="tableau">
		<ul>
			<li>
				<div class="pixel red"></div>
			</li>
			<li>
				<div class="pixel"></div>
			</li>
			<li>
				<div class="pixel"></div>
			</li>
			<li>
				<div class="pixel"></div>
			</li>
			<li>
				<div class="pixel blue"></div>
			</li>
			<li>
				<div class="pixel"></div>
			</li>
			<li>
				<div class="pixel"></div>
			</li>
		</ul>
		<ul>
			<li>
				<div class="pixel black"></div>
			</li>
			<li>
				<div class="pixel"></div>
			</li>
			<li>
				<div class="pixel"></div>
			</li>
			<li>
				<div class="pixel"></div>
			</li>
			<li>
				<div class="pixel"></div>
			</li>
			<li>
				<div class="pixel"></div>
			</li>
			<li>
				<div class="pixel"></div>
			</li>
		</ul>
	</div>
	<div >
		<div class="fleche btn-start-order" onclick="submitLevel1()">Valider la réponse</div>
	</div>
</div>