
@font-face {
    font-family:"font-icons";
    src:url("../assets/fonts/font-icons.eot");
    src:url("../assets/fonts/font-icons.eot?#iefix") format("embedded-opentype"),
		url("../assets/fonts/font-icons.woff") format("woff"),
		url("../assets/fonts/font-icons.ttf") format("truetype"),
		url("../assets/fonts/font-icons.svg#icons") format("svg");
    font-weight:normal;
    font-style:normal;
}

.font-icon {
    display: block;
    &:before {
        -webkit-font-smoothing: antialiased;
    }

}


// Icons

.font-icon-success1:before {
     font-family: "font-icons";
     content:"\f101";
}


.font-icon-success2:before {
     font-family: "font-icons";
     content:"\f102";
}


.font-icon-success3:before {
     font-family: "font-icons";
     content:"\f103";
}


.font-icon-success4:before {
     font-family: "font-icons";
     content:"\f104";
}


.font-icon-success5:before {
     font-family: "font-icons";
     content:"\f105";
}


.font-icon-success6:before {
     font-family: "font-icons";
     content:"\f106";
}


.font-icon-success7:before {
     font-family: "font-icons";
     content:"\f107";
}


.font-icon-success8:before {
     font-family: "font-icons";
     content:"\f108";
}


@mixin font-icon($icon) {



 @if  ($icon == "success1") {
    -webkit-font-smoothing: antialiased;
    font-family: "font-icons";
    content:"\f101";
}


@else if ($icon == "success2") {
    -webkit-font-smoothing: antialiased;
    font-family: "font-icons";
    content:"\f102";
}


@else if ($icon == "success3") {
    -webkit-font-smoothing: antialiased;
    font-family: "font-icons";
    content:"\f103";
}


@else if ($icon == "success4") {
    -webkit-font-smoothing: antialiased;
    font-family: "font-icons";
    content:"\f104";
}


@else if ($icon == "success5") {
    -webkit-font-smoothing: antialiased;
    font-family: "font-icons";
    content:"\f105";
}


@else if ($icon == "success6") {
    -webkit-font-smoothing: antialiased;
    font-family: "font-icons";
    content:"\f106";
}


@else if ($icon == "success7") {
    -webkit-font-smoothing: antialiased;
    font-family: "font-icons";
    content:"\f107";
}


@else if ($icon == "success8") {
    -webkit-font-smoothing: antialiased;
    font-family: "font-icons";
    content:"\f108";
}

}
