
@font-face {
    font-family:"font-icons";
    src:url("../assets/fonts/font-icons.eot");
    src:url("../assets/fonts/font-icons.eot?#iefix") format("embedded-opentype"),
		url("../assets/fonts/font-icons.woff") format("woff"),
		url("../assets/fonts/font-icons.ttf") format("truetype"),
		url("../assets/fonts/font-icons.svg#icons") format("svg");
    font-weight:normal;
    font-style:normal;
}

.font-icon {
    display: block;
    &:before {
        -webkit-font-smoothing: antialiased;
    }

}


// Icons

.font-icon-hidedesk:before {
     font-family: "font-icons";
     content:"\e101";
}


.font-icon-hidemobile:before {
     font-family: "font-icons";
     content:"\e102";
}


.font-icon-info:before {
     font-family: "font-icons";
     content:"\e103";
}


.font-icon-showdesk:before {
     font-family: "font-icons";
     content:"\e104";
}


.font-icon-showmobile:before {
     font-family: "font-icons";
     content:"\e105";
}


.font-icon-success1:before {
     font-family: "font-icons";
     content:"\e106";
}


.font-icon-success2:before {
     font-family: "font-icons";
     content:"\e107";
}


.font-icon-success3:before {
     font-family: "font-icons";
     content:"\e108";
}


.font-icon-success4:before {
     font-family: "font-icons";
     content:"\e109";
}


.font-icon-success5:before {
     font-family: "font-icons";
     content:"\e10a";
}


.font-icon-success6:before {
     font-family: "font-icons";
     content:"\e10b";
}


.font-icon-success7:before {
     font-family: "font-icons";
     content:"\e10c";
}


.font-icon-success8:before {
     font-family: "font-icons";
     content:"\e10d";
}


@mixin font-icon($icon) {



 @if  ($icon == "hidedesk") {
    -webkit-font-smoothing: antialiased;
    font-family: "font-icons";
    content:"\e101";
}


@else if ($icon == "hidemobile") {
    -webkit-font-smoothing: antialiased;
    font-family: "font-icons";
    content:"\e102";
}


@else if ($icon == "info") {
    -webkit-font-smoothing: antialiased;
    font-family: "font-icons";
    content:"\e103";
}


@else if ($icon == "showdesk") {
    -webkit-font-smoothing: antialiased;
    font-family: "font-icons";
    content:"\e104";
}


@else if ($icon == "showmobile") {
    -webkit-font-smoothing: antialiased;
    font-family: "font-icons";
    content:"\e105";
}


@else if ($icon == "success1") {
    -webkit-font-smoothing: antialiased;
    font-family: "font-icons";
    content:"\e106";
}


@else if ($icon == "success2") {
    -webkit-font-smoothing: antialiased;
    font-family: "font-icons";
    content:"\e107";
}


@else if ($icon == "success3") {
    -webkit-font-smoothing: antialiased;
    font-family: "font-icons";
    content:"\e108";
}


@else if ($icon == "success4") {
    -webkit-font-smoothing: antialiased;
    font-family: "font-icons";
    content:"\e109";
}


@else if ($icon == "success5") {
    -webkit-font-smoothing: antialiased;
    font-family: "font-icons";
    content:"\e10a";
}


@else if ($icon == "success6") {
    -webkit-font-smoothing: antialiased;
    font-family: "font-icons";
    content:"\e10b";
}


@else if ($icon == "success7") {
    -webkit-font-smoothing: antialiased;
    font-family: "font-icons";
    content:"\e10c";
}


@else if ($icon == "success8") {
    -webkit-font-smoothing: antialiased;
    font-family: "font-icons";
    content:"\e10d";
}

}
