/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$icon-close-name: 'icon-close';
$icon-close-x: 68px;
$icon-close-y: 0px;
$icon-close-offset-x: -68px;
$icon-close-offset-y: 0px;
$icon-close-width: 50px;
$icon-close-height: 50px;
$icon-close-total-width: 158px;
$icon-close-total-height: 101px;
$icon-close-image: '../assets/sprite-main.png';
$icon-close: (68px, 0px, -68px, 0px, 50px, 50px, 158px, 101px, '../assets/sprite-main.png', 'icon-close', );
$icon-error-name: 'icon-error';
$icon-error-x: 0px;
$icon-error-y: 0px;
$icon-error-offset-x: 0px;
$icon-error-offset-y: 0px;
$icon-error-width: 63px;
$icon-error-height: 101px;
$icon-error-total-width: 158px;
$icon-error-total-height: 101px;
$icon-error-image: '../assets/sprite-main.png';
$icon-error: (0px, 0px, 0px, 0px, 63px, 101px, 158px, 101px, '../assets/sprite-main.png', 'icon-error', );
$icon-help-name: 'icon-help';
$icon-help-x: 68px;
$icon-help-y: 55px;
$icon-help-offset-x: -68px;
$icon-help-offset-y: -55px;
$icon-help-width: 40px;
$icon-help-height: 39px;
$icon-help-total-width: 158px;
$icon-help-total-height: 101px;
$icon-help-image: '../assets/sprite-main.png';
$icon-help: (68px, 55px, -68px, -55px, 40px, 39px, 158px, 101px, '../assets/sprite-main.png', 'icon-help', );
$icon-next-name: 'icon-next';
$icon-next-x: 123px;
$icon-next-y: 0px;
$icon-next-offset-x: -123px;
$icon-next-offset-y: 0px;
$icon-next-width: 35px;
$icon-next-height: 40px;
$icon-next-total-width: 158px;
$icon-next-total-height: 101px;
$icon-next-image: '../assets/sprite-main.png';
$icon-next: (123px, 0px, -123px, 0px, 35px, 40px, 158px, 101px, '../assets/sprite-main.png', 'icon-next', );
$icon-return-name: 'icon-return';
$icon-return-x: 123px;
$icon-return-y: 45px;
$icon-return-offset-x: -123px;
$icon-return-offset-y: -45px;
$icon-return-width: 35px;
$icon-return-height: 40px;
$icon-return-total-width: 158px;
$icon-return-total-height: 101px;
$icon-return-image: '../assets/sprite-main.png';
$icon-return: (123px, 45px, -123px, -45px, 35px, 40px, 158px, 101px, '../assets/sprite-main.png', 'icon-return', );
$spritesheet-width: 158px;
$spritesheet-height: 101px;
$spritesheet-image: '../assets/sprite-main.png';
$spritesheet-sprites: ($icon-close, $icon-error, $icon-help, $icon-next, $icon-return, );
$spritesheet: (158px, 101px, '../assets/sprite-main.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
