/*******************

		Variables

*******************/
$black : #242322;
$white : #FBFBFB;
$green : #7ac943;
$bleu : #3fa9f5;
$principal-font : 'Josefin Sans', sans-serif;
//$font-size : 1.3rem;
$font-size : 5vw;
$gradiant : linear-gradient(90deg, rgb(63, 169, 245), rgb(122, 201, 67));
$gradiant-scrollbar : linear-gradient(rgba(63, 169, 245, 0.5), rgba(122, 201, 67, 0.5));