/*******************

		Variables

*******************/
#Level3 #frameWrapper {
  position: relative;
  width: 100%;
  height: calc(100vw - 20px);
  max-width: 400px;
  max-height: 400px;
  background-color: black;
  margin: auto;
}
#Level3 #frameWrapper .center {
  background-color: white;
}
#Level3 #frameWrapper .square {
  background-color: black;
}
#Level3 #frameWrapper .square:not(:nth-child(2)) {
  border: solid white 4vw;
}
@media (min-width: 480px) and (max-width: 767px) {
  #Level3 #frameWrapper .square:not(:nth-child(2)) {
    border: solid white 15px;
  }
}
@media (min-width: 768px) {
  #Level3 #frameWrapper .square:not(:nth-child(2)) {
    border: solid white 15px;
  }
}
#Level3 #frameWrapper .square, #Level3 #frameWrapper .wrapperGrad, #Level3 #frameWrapper .center {
  position: absolute;
  box-sizing: border-box;
}
#Level3 #frameWrapper .square:nth-child(2) {
  /*background-color: #585F79;*/
  height: 100%;
  width: 100%;
}
#Level3 #frameWrapper .square:nth-child(3) {
  /*background-color: #896B83;*/
  height: 90%;
  width: 90%;
  top: 5%;
  left: 5%;
}
#Level3 #frameWrapper .square:nth-child(4) {
  /*background-color: #cc525c;*/
  height: 75%;
  width: 75%;
  top: 12.5%;
  left: 12.5%;
}
#Level3 #frameWrapper .square:nth-child(5) {
  /*background-color: #AB6D5E;*/
  height: 60%;
  width: 60%;
  top: 20%;
  left: 20%;
}
#Level3 #frameWrapper .square:nth-child(6) {
  /*background-color: #b9b32f;*/
  height: 45%;
  width: 45%;
  top: 27.5%;
  left: 27.5%;
}
#Level3 #frameWrapper .square:nth-child(7) {
  /*background-color: #f2ba23;*/
  height: 30%;
  width: 30%;
  top: 35%;
  left: 35%;
}
#Level3 #frameWrapper .square:nth-child(8) {
  /*background-color: #eddb01;*/
  height: 15%;
  width: 15%;
  top: 42.5%;
  left: 42.5%;
}
#Level3 #frameWrapper .center {
  /*background-color: white;*/
  height: 2.5%;
  width: 2.5%;
  top: 48.75%;
  left: 48.75%;
}
#Level3 #frameWrapper.done .wrapperGrad {
  opacity: 1;
}
#Level3 #frameWrapper.done .square {
  opacity: 0;
}

#modalContent .pixelModel {
  width: 100%;
  height: 100px;
  position: relative;
  background-color: black;
  height: calc(100% - 175px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  box-sizing: border-box;
}
#modalContent .pixelModel .center {
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
#modalContent .pixelModel .buttons .sliders {
  display: -ms-flexbox;
  display: flex;
  max-width: 300px;
  max-height: 300px;
  height: calc(100vw/2);
  width: calc(100vw/2);
}
#modalContent .pixelModel .buttons .sliders .rangeBg {
  background-color: black;
  width: calc(100%/3);
  -ms-flex-align: center;
  align-items: center;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  border: 2px solid white;
}
#modalContent .pixelModel .buttons .sliders .rangeBg input {
  width: 100%;
  height: 100%;
  -moz-appearance: slider-vertical;
  appearance: slider-vertical;
  -webkit-appearance: slider-vertical;
}
#modalContent .pixelModel .buttons .applyColor {
  width: 100%;
  background-color: #242322;
}

/*# sourceMappingURL=activite3.css.map */
