<div id="chooseDevMod">
	<h2>D'après vous, quel est votre niveau en programation ?</h2>

	<div class="level">
		<div class="deb">Débutant</div>
		<div id="radios">
			<label for="input1"></label>
			<input  id="input1" name="radio" type="radio" />
			<label class="input2" for="input2"></label>
			<input  id="input2" name="radio" type="radio" />
			<span id="slider"></span>
		</div>
		<div class="dev">Avancé</div>
	</div>


	<div>
		<div class="fleche btn-start-order" onclick="loadlevel1()">Commencer l'experience</div>
	</div>
	

</div>
